zope.deprecation==4.1.2
appdirs==1.4.3
beautifulsoup4==4.5.3
coverage==4.3.4
hupper==0.4.4
Jinja2==2.9.5
Mako==1.0.6
MarkupSafe==1.0
packaging==16.8
PasteDeploy==1.5.2
py==1.4.33
Pygments==2.2.0
pyparsing==2.2.0
pyramid==1.8.3
pyramid-debugtoolbar==3.0.5
pyramid-jinja2==2.7
pyramid-mako==1.0.2
-e /opt/python/ondeck/app/
pytest==3.0.7
pytest-cov==2.4.0
repoze.lru==0.6

six==1.10.0


translationstring==1.3
venusian==1.0
waitress==1.0.2
WebOb==1.7.2
WebTest==2.0.27
zope.interface==4.3.3
